---
title: だるまや京染本店
description: だるまやは全員が洗い張り職人の呉服屋です。<br>きものの悩みをお持ちの方の駆け込み寺を目指しています！<br><a href="/information/" class="btn btn-aqua">だるまやのご紹介を見る</a>
main_visual: '/images/t/top-jumbotron-DSC07283-{width}{pixel_ratio}.jpg'
layout: home
questions:
    - title: 郵送での依頼方法を知りたい
      link: /information/requestmethod.html
    - title: お手入れの料金を知りたい
      link: /maintenance/fee.html
    - title: ニュースレターを受け取りたい
      link: /information/newsletter.html
    - title: きものにしみを付けてしまった
      link: /maintenance/shiminuki.html
    - title: きものを仕立て直したい
      link: /revival/shitatenaoshi.html
    - title: 問い合わせしたい
      link: /information/contact.html
news:
    - date: 5/7
      title: 今月のおすすめ商品は、縞大島で誂える雨ゴートです！
      link: /coordinate/osusume.html
    - date: 4/30
      title: お客様感謝祭が終了しました。次回は7月の予定です。
      link: /event/kanshasai.html
    - date: 3/29
      title: 3月25日（金）から3月28日（月）まで、「きものと帯展」を行いました。
      link: /event/tenjikai.html
    - date: 1/27
      title: お客様の声を更新しました！
      link: /information/customerfeedback.html
    - date: 12/1
      title: 12月29日（水）〜1月5日（水）はお休みです
      link: /information/shop.html
    - date: 4/1
      title: ふるさと納税が使えるようになりました！
      link: /information/furusato.html
---
<section>
    <div class="row">
        <div class="col-sm-4">
            <h4>よくある質問</h4>
            <div class="list-group">
                {% for item in page.questions %}
                <a href="{{ item.link }}" class="list-group-item">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h4>更新情報</h4>
            <div class="list-group">
                {% for item in page.news %}
                <a href="{{ item.link }}" class="list-group-item">
                    <span class="badge">{{ item.date }}</span>
                    {{ item.title }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h4>ブログ「だるまや6代目奮闘記」</h4>
            <div id="blogFeed" class="list-group">
            </div>
            <script>
                function blogFeed(json) {
                    for (var i in json.feed.entry) {
                        var entryItem = json.feed.entry[i];
                        var title = entryItem.title.$t;
                        var dateString = entryItem.published.$t.replace(/^\d{4}\-(\d{2})\-(\d{2}).*$/, '$1/$2');
                        for (var j in entryItem.link) {
                            var linkItem = entryItem.link[j];
                            if (linkItem.rel === 'alternate' && linkItem.type === 'text/html') {
                                var url = linkItem.href;
                            }
                        }
                        var $date = $('<span>')
                                .addClass('badge')
                                .text(dateString);
                        var $a = $('<a>')
                                .addClass('list-group-item')
                                .attr('href', url)
                                .text(title)
                                .prepend($date)
                                .appendTo('#blogFeed');
                    }
                }
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.defer = 'defer';
                    js.async = 'async';
                    js.src = "//blog.darumaya-gofuku.jp/feeds/posts/summary?alt=json-in-script&callback=blogFeed&max-results=5";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'getBlogFeed'));
            </script>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-sm-7">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LA4CBqM_n7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="caption">
                    <h3>今週の動画</h3>
                    <p>今月のおすすめ商品である、縞大島を紹介しつつ、
                        雨ゴートを誂えるときのポイントをまとめました！<br>
                    </p>
                    <p class="text-right"><a href="https://www.youtube.com/channel/UCHCAABbZPHWD8VqoXAZjigA?sub_confirmation=1" class="btn btn-aqua">チャンネル登録はこちら</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="thumbnail">
                <a href="/event/kanshasai.html" class="img-link same-as-youtube"><img class="img-sm" data-src="/images/t/top-kanshasai-DSC05278-{width}{pixel_ratio}.JPG" data-alt="催事のご案内"></a>
                <div class="caption">
                    <h3>催事のご案内</h3>
                    <p>次回の催事は、6月3日（金）〜6日（月）のきものと帯展です！
                    </p>
                    <p class="text-right"><a href="/event/tenjikai.html" class="btn btn-aqua">催事のご案内をもっと見る</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <a href="/revival/" class="img-link"><img class="img-sm" data-src="/images/t/top-shitatenaoshi_3-{width}{pixel_ratio}.jpg" data-alt="きものの再生事例"></a>
                <div class="caption">
                    <h3>きものの再生事例
                        <small>~きものを仕立て直す~</small></h3>
                    <p>きものの寸法を変えて仕立て直したり、落ち着いた色に染め直したりする事例を紹介しています。</p>
                    <p class="text-right"><a href="/revival/" class="btn btn-aqua">きものの再生事例をもっと見る</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <a href="/coordinate/osusume.html" class="img-link"><img class="img-sm" data-src="/images/t/top-osusume-202205-1-DSC08202-{width}{pixel_ratio}.jpg" data-alt="今月のおすすめ商品"></a>
                <div class="caption">
                    <h3>今月のおすすめ商品</h3>
                    <p>今月のおすすめ商品は、雨ゴートにぴったりの縞大島です。<br>
                        雨ゴートは試着が重要！今月は郵送試着無料です！
                    </p>
                    <p class="text-right"><a href="/coordinate/osusume.html" class="btn btn-aqua">今月のおすすめを見る</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="thumbnail">
                <a href = "/information/customerfeedback.html" class="embed-responsive embed-responsive-16by9"><img class="img-sm" data-src="/images/t/top-customerfeedback_2-{width}{pixel_ratio}.jpg" data-alt="お客様の声"></a>
                <div class="caption">
                    <h3>お客様の声</h3>
                    <p>お客様からいただいたメッセージや写真をご紹介します。</p>
                    <p class="text-right"><a href="/information/customerfeedback.html" class="btn btn-aqua">お客様の声をもっと見る</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="thumbnail">
                <a href="/event/tomurayoko.html" class="img-link same-as-youtube"><img class="img-sm" data-src="/images/t/top-tomurayoko-DSC08876-{width}{pixel_ratio}.jpg" data-alt="着付け教室"></a>
                <div class="caption">
                    <h3>着付け教室</h3>
                    <p>トムラヨウコ先生による着付け教室です。<br>
                        初心者も大歓迎！余計な道具を使わないシンプルな着方です。</p>
                    <p class="text-right"><a href="/event/tomurayoko.html" class="btn btn-aqua">着付け教室をもっと見る</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <a href="/information/furusato.html" class="img-link"><img class="img-sm" data-src="/images/t/top-furusato-{width}{pixel_ratio}.jpg" data-alt="ふるさと納税"></a>
                <div class="caption">
                    <h3>ふるさと納税</h3>
                    <p>平塚市へのふるさと納税で、洗い張りで使えるポイント券がもらえます。<br>
                    </p>
                    <p class="text-right"><a href="/information/furusato.html" class="btn btn-aqua">ふるさと納税について</a></p>
                </div>
            </div>
        </div>
    </div>
</section>