---
title: お客様感謝祭
description: きもののお手入れを特別価格でご提供
main_visual: '/images/k/kanshasai-jumbotron-DSC05278-{width}{pixel_ratio}.jpg'
thumbnail: '/images/k/kanshasai-DSC05278-100-2x.jpg'
snipet_1st: お客様感謝祭の
snipet_2nd: ご案内
layout: category-article
category: '催事のご案内'
order: 10
related:
    - title: ふるさと納税
      description: ふるさと納税も、ご利用いただけます。
      link: /information/furusato.html
      image: /images/t/top-furusato-{width}{pixel_ratio}.jpg
---
<section>
    <h2>お客様感謝祭とは</h2>
    <p>だるまやではお客様のご愛顧に感謝して、年に数回お客様感謝祭を催しております。<br>
        感謝祭の期間中は、きもののお手入れを割引料金にて承っております。<br>
        遠方にお住まいの方でもご郵送でご依頼いただけます。<br>
        また、お買い得商品を多数取り揃えております。</p>
</section>

<section>
    <h2>お客様感謝祭の期間</h2>
    <p>次回のお客様感謝祭は1月の予定です。<br>
    </p>
</section>

<section>
    <h2>感謝祭割引料金</h2>
    <p>きものによって仕事内容が異なる場合があるため、料金はあくまで目安とお考えください。<br>
       郵送によるご依頼の場合、送料・支払い手数料はお客様負担となりますので、あらかじめご了承ください。<br>
    </p>
    <h2>初めてのお客様特典</h2>
    <p>だるまやを初めてご利用いただくお客様は、感謝祭期間にかかわらず感謝祭割引料金にてお請けいたします。<br>
        もちろん、郵送によるご依頼でもOKです。<br>
        何枚でもOKです。<br>
        ご不明な点は遠慮なくお問い合わせください！<br>
    </p>
    <h2>ふるさと納税使えます！</h2>
    <p>ふるさと納税で平塚市へ12,000円寄付していただくと、返礼品としてだるまやの洗い張りで使えるポイント券が3,000円分もらえます。<br>
        <a href = "/information/furusato.html" target = "_blank">詳細はこちらから</a><br>
    </p>

    <h2>洗い張り</h2>
    <p>解き、端縫い代を含んだ料金です。裏地（胴裏、八掛、羽裏など）の洗い張り代も含みます。<br>
        長襦袢の半襟、居敷き当てを洗い張する場合は、各1000円かかります。<br>
        手間物とは弱生地や色のにじみそうな生地です。</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
            <th>感謝祭料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["洗い張り"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

    <h2>仕立ての料金</h2>
    <p>裏地（胴裏、八掛など）の持ち込みは各1,000円いただきます。<br>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["仕立て"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    <h2>洗い張りから仕立て</h2>
    <p>解き、端縫い、洗い張り代を含んだ料金です。<br>
        手間物とは弱生地や色のにじみそうな生地などです。<br>
        裏地（胴裏、八掛など）の持ち込みは各1,000円いただきます。<br>
        長襦袢の半襟、居敷き当てを洗い張りして再利用する場合は、各1000円かかります。<br>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
            <th>感謝祭料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["洗い張りから仕立て"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>丸洗いとしみ抜き</h2>
    <p>丸洗いをして、共衿、袖口、裾など通常着て汚れる場所をしみ抜きした場合の料金です。<br>
        汚れの範囲や落ちにくさによって変わりますので、あくまで目安とお考えください。</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
            <th>感謝祭料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["丸洗いとしみ抜き"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <h2>染め</h2>
    <p>反物の状態のきものを無地に染める料金です。</p>
    <p>無地のきものの染め直し、柄を活かして染め直しは「きものの再生事例」をご覧ください。</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
            <th>感謝祭料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["染め"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <h2>紋入れ</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
            <th>感謝祭料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["紋入れ"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <h2>湯のし</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
            <th>感謝祭料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["湯のし"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <h2>本湯通し</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(税込)</th>
            <th>感謝祭料金(税込)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["本湯通し"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <h2>郵送の際の支払い方法</h2>
    <h3>銀行口座</h3>
    <p>三井住友銀行<br>
        平塚支店(565)<br>
        普通　7139579<br>
        カ）ダルマヤキョウゾメホンテン<br>
        <br>
        ゆうちょ銀行（他行からの振込）<br>
        ゼロキュウハチ支店(098)<br>
        普通　0573378<br>
        カ）ダルマヤキョウゾメホンテン<br>
        <br>
        ゆうちょ銀行（ゆうちょ銀行からの振込）<br>
        記号：10940<br>
        普通　05733781<br>
        カ）ダルマヤキョウゾメホンテン<br>
    </p>
    <br>
    <h3>送料・箱代</h3>
    <p>枚数によりますが、1500円〜2000円</p>
</section>

<section>
    <h2>利用規約</h2>

    {% for item in site.data.price-lists.["利用規約"] %}
    <h3>{{ item.title }}</h3>
    <p>{{ item.text }}</p>
    <br>
    {% endfor %}
</section>