<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>だるまや京染本店</h4>
                <p>
                    〒254-0042<br>
                    神奈川県平塚市明石町5−7<br>
                    JR東海道線「平塚駅」北口より徒歩7分
                </p>
                <p class=" text-center">
                    <button class="visible-xs-inline btn" id="btnMap"><span class="glyphicon glyphicon-map-marker"></span>地図アプリを開く</button>
                </p>
                <p>
                    <a href="tel:0463211411">0463-21-1411</a><br>
                    9:00〜17:30(水曜・日曜・祝日予約制)
                </p>
                <p class="visible-xs-block text-center">
                    <a href="tel:0463211411" class="btn" style="letter-spacing: 4px;"><span class="glyphicon glyphicon-earphone"></span>電話をかける</a>
                </p>
                <p class="hidden-xs">
                    <a href="/information/shop.html">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1YSrfhXP7Q2yrSsndt08PP98_g8w" width="220" height="220"></iframe>
                        <br>
                        大きな地図で見る
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>お問い合わせ</h4>
                <p>
                    お問い合わせはLINEが便利です！<br>
                    <h4>LINEで友だち追加</h4>
                    <a href="http://line.naver.jp/ti/p/%40darumaya" target="_blank"><img border="0" src="http://biz.line.naver.jp/line_business/img/btn/addfriends_ja.png" height="36" /></a><br>
                    <br>
                    お問い合わせ事例や、LINE以外のお問い合わせ方法は、<a href = "/information/contact.html" >お問い合わせページ</a>をご覧ください。
                </p>
            </div>
            <div class="col-sm-4">
                <form action="https://docs.google.com/forms/d/1lhEtsXJZrD_ZhHU1HNNoKjvyCM7psp-_ZieWIIQof_w/formResponse" method="post" data-category="メルマガ" data-action="フッター">
                    <h4>メールマガジンを購読</h4>
                    <p>
                        <input type="text" class="form-control input-sm" name="entry.754037029" id="entry_754037029" placeholder="お名前（必須）" required>
                    </p>
                    <p>
                        <input type="email" class="form-control input-sm" name="entry.962431846" id="entry_962431846" placeholder="メールアドレス（必須）" required>
                    </p>
                    <p class="text-center">
                        <label class="radio-inline">
                            <input type="radio" checked name="entry.1104681476" id="group_1104681476_1" value="HTMLメール">
                            HTMLメール
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.1104681476" id="group_1104681476_2" value="テキストメール">
                            テキストメール
                        </label>
                    </p>
                    <p class="text-center">
                        <input type="hidden" name="draftResponse" value="[,,&quot;6067762280875059710&quot;] ">
                        <input type="hidden" name="pageHistory" value="0">
                        <input type="hidden" name="fbzx" value="6067762280875059710">
                        <button type="submit" class="btn" style="padding-left: 22px; letter-spacing: 10px;" id="ss-submit" value="送信">申し込む</button>
                    </p>
                </form>

                <h4>Facebookページを購読</h4>
                <div class="fb-like-box"
                     data-href="https://www.facebook.com/pages/だるまや京染本店/359733750720382"
                     data-colorscheme="light"
                     data-show-faces="false"
                     data-header="false"
                     data-stream="false"
                     data-show-border="false">

                </div>
            </div>
        </div>
        <p class="copyright">Copyright &copy; 2014 Darumaya Kyozome Honten. All Rights Reserved.</p>
    </div>
</footer>
