---
title: コートに仕立て直す
description: きものを道行きコートに仕立て直す
main_visual: '/images/t/tocoat-jumbotron-P1060679-P1070151-{width}{pixel_ratio}.jpg'
thumbnail: '/images/t/tocoat-P1070151-100-2x.jpg'
snipet_1st: きものを洗い張りして
snipet_2nd: コートに仕立て直します
layout: category-article
category: 'きものの再生事例'
order: 80
related:
    - title: 洗い張り
      description: だるまやの真髄！<br>洗い張りはこちら。
      link: /maintenance/araihari.html
      image: /images/a/araihari-related-DSC05082-{width}{pixel_ratio}.JPG
    - title: 仕立て
      description: 仕立てはすべて国内手縫いです。<br>仕立てはこちら。
      link: /maintenance/shitate.html
      image: /images/s/shitate-related-DSC05920-{width}{pixel_ratio}.JPG
    - title: ふるさと納税
      description: ふるさと納税も、ご利用いただけます。
      link: /information/furusato.html
      image: /images/t/top-furusato-{width}{pixel_ratio}.jpg
    - title: お問い合わせ
      description: お気軽にお問い合わせください。
      link: /information/contact.html
      image: /images/c/contact-related-DSC05954-{width}{pixel_ratio}.JPG
---
<section>
    <h2>きものを道行コートに仕立て直してみませんか？</h2>
    <p>きものを羽織や道行コートに仕立て直すご紹介です。<br>
        染め替えてから仕立て直すこともできます。<br>
</section>

<section>
    <h2>ふるさと納税使えます！</h2>
    <p>ふるさと納税で平塚市へ12,000円寄付していただくと、返礼品としてだるまやの洗い張りで使えるポイント券が3,000円分もらえます。<br>
        <a href = "/information/furusato.html" target = "_blank">詳細はこちらから</a><br>
    </p>
</section>

<section>
    <h2>きものを道行コートに仕立て直す方法を動画で解説！</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gAk-vJGZu6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<section>
    <h2>きものを染め直して道行コートに仕立て直した事例</h2>
    <p>手持ちの無地のきものを道行コートに仕立て直したいと言ってお持ちになりました。<br>
        生地の巾も丈も問題なかったのですが、色が少しコートに向かなかったので、染め直してコートにしましょうとご提案しました。
    </p>
    <div class="row">
        <div class="col-sm-6 before">
            <h3>お手入れ前</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/t/tocoat-someandcoat1-P1060679-{width}{pixel_ratio}.JPG" data-alt="コートに仕立て直す" data-class="img-responsive img-lightbox">
            </div>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/t/tocoat-someandcoat2-P1060685-{width}{pixel_ratio}.JPG" data-alt="コートに仕立て直す" data-class="img-responsive img-lightbox">
            </div>
        </div>
        <div class="col-sm-6 after">
            <h3>お手入れ後</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/t/tocoat-someandcoat4-P1070151-{width}{pixel_ratio}.JPG" data-alt="コートに仕立て直す" data-class="img-responsive img-lightbox">
            </div>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/t/tocoat-someandcoat5-P1070157-{width}{pixel_ratio}.JPG" data-alt="コートに仕立て直す" data-class="img-responsive img-lightbox">
            </div>
        </div>
    </div>
    <p>お持ちのきものに合わせやすい色を選んでいただき、その色にあったコート裏を選んでいただきました。<br>
        生まれ変わったコートを見て大変満足していただけました。</p>
    <h3>きものを染め直して道行コートに仕立て直す料金（感謝祭時）</h3>
    <p>洗い張り：6,000円<br>
        染め直す：15,000円〜<br>
        道行コートに仕立て：28,000円<br>
        コート裏：14,000円<br>
    </p>
</section>

<section>
    <h2>洗い張りの注意点</h2>
    {% for item in site.data.price-lists.["洗い張りの注意点"] %}
    <h4>{{ item.title }}</h4>
    <p>{{ item.text }}</p>
    <br>
    {% endfor %}

    <h2>仕立ての注意点</h2>
    {% for item in site.data.price-lists.["仕立ての注意点"] %}
    <h4>{{ item.title }}</h4>
    <p>{{ item.text }}</p>
    <br>
    {% endfor %}

    <h2>利用規約</h2>

    {% for item in site.data.price-lists.["利用規約"] %}
    <h3>{{ item.title }}</h3>
    <p>{{ item.text }}</p>
    <br>
    {% endfor %}
</section>