---
title: 依頼方法
description: 遠方からでも遠慮なくご依頼ください！
main_visual: '/images/r/requestmethod-jumbotron-DSC06280-{width}{pixel_ratio}.jpg'
snipet_1st: ご依頼方法
snipet_2nd: ご来店かご郵送ください
layout: category-article
category: 'だるまやのご紹介'
order: 15
carousel:
    - title: お問い合わせ
      description: お手入れを考えているきものについて、まずは気軽にご相談ください。
      image: /images/r/requestmethod-toiawase-DSC05954-{width}{pixel_ratio}.JPG
    - title: メモ作成
      description: ご希望のお手入れ内容をメモ程度にお書きください。<br><b>日限がある場合は必ず書いてください。</b>
      image: /images/r/requestmethod-memo-DSC06266-{width}{pixel_ratio}.JPG
    - title: 荷造り
      description: ビニール袋などに入れて、紙袋やボール箱でお送りください。<br>風呂敷など返品する必要があるものは入れないでください。
      image: /images/r/requestmethod-nidukuri-DSC06282-{width}{pixel_ratio}.JPG
    - title: 到着連絡
      image: /images/r/requestmethod-renraku-DSC05780-{width}{pixel_ratio}.JPG
      description: 荷物が届きましたら中身を確認してお電話いたします。
    - title: 作業開始
      description: 作業を始めます。<br>途中で何か問題がありましたらお電話します。
      image: /images/r/requestmethod-sagyoukaishi-DSC04830-{width}{pixel_ratio}.JPG
    - title: 作業完了
      description: 仕事が終わりましたらご連絡いたします。
      image: /images/r/requestmethod-toiawase-DSC05954-{width}{pixel_ratio}.JPG
    - title: ご入金
      description: 銀行振込でご入金ください。<br>また、代金引換もお選びいただけます。
      image: /images/r/requestmethod-gonyukin-DSC06267-{width}{pixel_ratio}.JPG
    - title: 返送
      description: お品物を丁寧に梱包してお送りいたします。
      image: /images/r/requestmethod-hensou-DSC06276-{width}{pixel_ratio}.JPG
related:
    - title: ふるさと納税
      description: ふるさと納税も、ご利用いただけます。
      link: /information/furusato.html
      image: /images/t/top-furusato-{width}{pixel_ratio}.jpg
    - title: お問い合わせ
      description: お気軽にお問い合わせください。
      link: /information/contact.html
      image: /images/c/contact-related-DSC05954-{width}{pixel_ratio}.JPG
---
<section>
    <p>ご依頼方法はご来店かご郵送になります。<br>
        なお、送料・支払い手数料はお客様負担となりますので予めご了承ください。
    </p>
</section>

<section>
    <h2>ふるさと納税使えます！</h2>
    <p>ふるさと納税で平塚市へ10,000円寄付していただくと、返礼品としてだるまやの洗い張りで使えるポイント券が3,000円分もらえます。<br>
        <a href = "/information/furusato.html" target = "_blank">詳細はこちらから</a><br>
    </p>
</section>

<section>
    <h2>来店でのご依頼</h2>

    <p>住所:<br>
        254-0042<br>
        神奈川県平塚市明石町5−7<br>
        だるまや京染本店<br>
        0463-21-1411<br>
    </p>
    <h2>ご来店いただく時の注意点</h2>
    <p>
        ・お盆や年末年始以外は不定休です。<br>
        ・採寸や染め直しなど難しい加工の場合や、六代目に相談したい場合はLINEで事前にご予約ください。<br>
        　（水曜日と、土日祝午前は六代目不在です）
    </p>
</section>

<section>
    <h2>郵送でのご依頼</h2>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-9 col-lg-offset-2 col-lg-7">
            {% include carousel.html %}
        </div>
    </div>
    <br>
    <h2>郵送での依頼方法を動画で解説しました。</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GkctoWPni_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <h2>送付先</h2>
    <p>254-0042<br>
        神奈川県平塚市明石町5−7<br>
        だるまや京染本店<br>
        0463-21-1411<br>
    </p>

    <h2>ご郵送いただく時の注意点</h2>
    <p>
        ・<b>日限がある場合は必ず書いてください。</b><br>
        ・反物のラベルが必要な方は、先にラベルを切ってからお送りください。<br>
        ・風呂敷など、返送が必要なものは使わず、ビニール袋やダンボール箱などでご郵送ください。<br>
        ・お電話やメールでご相談いただいた場合でも、ご依頼内容の簡単なメモなどをご同封ください。<br>
        ・お預かりした品物の仕上がりタイミングが異なる場合（例：丸洗いと仕立て直しを一緒にお預かりした場合など）でも、原則としてまとめて返送します。<br>
        　仕上がったものから返送希望の場合は、その旨ご連絡ください。<br>
        ・基本的に仕上がり時に納品書、領収書は同封しません。ご希望の方はご連絡ください。<br>
        ・洗い張りのご注文は、生地が弱い場合や色が滲む場合など、お請けできない場合がありますので、事前にご了承ください。<br>
        ・日時指定はできますが、発送日指定はできません。（◯◯日以降に発送してくださいはNG。〇〇日指定で発送してくださいはOK）<br>
        ・返送の際、なるべく型くずれしないよう梱包してお送りしておりますが、配送の際にどうしてもシワが生じる場合があります。<br>
        ・ネットオークションなどで落札された品物を直接だるまやへお送りしないようお願いします。<br>
        　必ず、依頼者ご本人様からだるまやへご郵送ください。<br>
    </p>

    <h2>お支払いについて</h2>
    <h3>銀行口座</h3>
    <p>三井住友銀行<br>
        平塚支店(565)<br>
        普通　7139579<br>
        カ）ダルマヤキョウゾメホンテン<br>
        <br>
        ゆうちょ銀行（他行からの振込）<br>
        ゼロキュウハチ支店(098)<br>
        普通　0573378<br>
        カ）ダルマヤキョウゾメホンテン<br>
        <br>
        ゆうちょ銀行（ゆうちょ銀行からの振込）<br>
        記号：10940<br>
        普通　05733781<br>
        カ）ダルマヤキョウゾメホンテン<br>
    </p>
    <br>
    <h3>送料・箱代</h3>
    <p>枚数によりますが、1包1500円〜2000円</p>
</section>

<section>
    <h2>きものに合わせた帯なども提案します！</h2>
    <p>遠方にお住まいのお客様にも、お持ちのきものに合わせた帯や小物などをご提案いたします。<br>
        しみ抜きや仕立直しをご依頼の際に、「このきものに合う帯を見たい！」とおっしゃっていただければ、だるまやおすすめのコーディネートをご提案いたします。<br>
        メールなどで写真をお送りし、気に入っていただいた場合のみご注文ください。<br>
        お手入れが仕上がったきものと合わせてお送りいたします。<br>
        お客様の好みや着る場面などをお聞きしたいため、お電話でお話しさせていただけると、よりお客様にふさわしい品物をご案内できます。<br>
        無理強いは絶対にしませんので、気軽にご相談くださいませ。
    </p>
</section>

<section>
    <h2>利用規約</h2>

    {% for item in site.data.price-lists.["利用規約"] %}
    <h3>{{ item.title }}</h3>
    <p>{{ item.text }}</p>
    <br>
    {% endfor %}
</section>

